{% extends "layout.html" %}

{% block title %}
<title> Pneumonia Detector </title>
{% endblock %}

{% block subheader %}
<h3>Pneumonia Classifier</h3>
{% endblock %}

{% block prediction %}
<form method="POST" action="/pneumonia" enctype="multipart/form-data">
    <dl>
        <p>
            <input type="file" name="file" autocomplete="off" required>
        </p>
    </dl>
    <p>
        <input type="submit" value="Predict">
    </p>
</form>
{% endblock %}

{% block link %}
<div>
    <p></p>
    <p id=link><a href="{{ url_for('covid') }}">Click here to check for COVID 19</a></p>
</div>

{% endblock %}